@import url(./header.css);
@import url(./banner.css);
@import url(./carrossel.css);
@import url(./topicos.css);
@import url(./contato.css);
@import url(./rodape.css);

:root {
    --cor-plano-de-fundo: #EBECEE;
    --cor-principal: #ffffff;


    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --fonte-cor-opcoes: #000000;
    --fonte-cor-menu-categoria: #EB9B00;
    --fonte-cor-menu-item-gradiente: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --fonte-cor-card-livro: #002F52;
    --fonte-cor-rodape-titulo: #858585;
    --fonte-cor-rodape-link: #474646;
}

body {
    background-color: var(--cor-plano-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

